In [ ]:
import pandas as pd
import numpy as np
f = {'Boys': [72, 68, 70, 69, 74], 'Girls': [63, 65, 69, 62, 61]}

In [ ]:
d={}
j={}

In [ ]:
for i in range(0,5):
  d['Boys'] = f['Boys'][i]
  d['Girls'] = f['Girls'][i]
  print(d)

{'Boys': 72, 'Girls': 63}
{'Boys': 68, 'Girls': 65}
{'Boys': 70, 'Girls': 69}
{'Boys': 69, 'Girls': 62}
{'Boys': 74, 'Girls': 61}

In [ ]:
l = [dict([d][0]) for x in range(0,5)]
print(l)

[{'Boys': 74, 'Girls': 61}, {'Boys': 74, 'Girls': 61}, {'Boys': 74, 'Girls': 61}, {'Boys': 74, 'Girls': 61}, {'Boys': 74, 'Girls': 61}]